.user__container {
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 100px 20px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__logout {
  width: 100%;
  min-width: 100px;
  bottom: 10%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

.title__contact_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentContact__container {
  flex-grow: 1;
  padding: 20px;
}
/* theme */
.dark-theme {
  background-color: transparent;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #fff;
  color: #e0e0e0;
}
