<div *ngIf="contact">
  <form class="edit-mode" (ngSubmit)="onSave()">
    <input
      type="text"
      placeholder="First Name"
      [(ngModel)]="contact.firstName"
      name="firstName"
      class="input-field"
    />
    <input
      type="text"
      placeholder="Last Name"
      [(ngModel)]="contact.lastName"
      name="lastName"
      class="input-field"
    />
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="contact.email"
      name="email"
      class="input-field"
    />
    <input
      type="tel"
      placeholder="Phone Number"
      [(ngModel)]="contact.phoneNumber"
      name="phoneNumber"
      class="input-field"
    />
    <textarea
      placeholder="Description"
      [(ngModel)]="contact.description"
      name="description"
      class="input-field"
    ></textarea>
    <input
      type="text"
      placeholder="Company"
      [(ngModel)]="contact.company"
      name="company"
      class="input-field"
    />

    <button type="submit" class="save-btn">Save</button>
  </form>
</div>
