<form class="edit-mode" (ngSubmit)="onSave()">
  <input
    type="text"
    placeholder="Add first name"
    [(ngModel)]="fieldsContact.firstName"
    name="firstName"
    class="input-field"
    required
    #firstName="ngModel"
  />
  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
    <p class="error-message">First name is required!</p>
  </div>

  <input
    type="text"
    placeholder="Add last name"
    [(ngModel)]="fieldsContact.lastName"
    name="lastName"
    class="input-field"
  />
  <input
    type="email"
    placeholder="Add email"
    [(ngModel)]="fieldsContact.email"
    name="email"
    class="input-field"
  />
  <input
    type="tel"
    placeholder="Add phone number"
    [(ngModel)]="fieldsContact.phoneNumber"
    name="phoneNumber"
    class="input-field"
  />
  <textarea
    placeholder="Add description"
    [(ngModel)]="fieldsContact.description"
    name="description"
    class="input-field"
  ></textarea>
  <input
    type="text"
    placeholder="Add company"
    [(ngModel)]="fieldsContact.company"
    name="company"
    class="input-field"
  />

  <button type="submit" class="save-btn">Save</button>
  <button type="button" (click)="onCancel()" class="cancel-btn">Cancel</button>
</form>
