<header class="header" [class.dark-theme]="theme === 'dark'">
  <div class="header__userContainer">
    <h2>Contact book by IvanDev</h2>
    <p *ngIf="user">
      Welcome <span style="color: green">{{ user.name }}</span>
    </p>
  </div>
  <ng-container *ngIf="user">
    <app-settings></app-settings>
  </ng-container>

  <div class="header__theme_container">
    <button (click)="toggleTheme()" [class.active]="theme === 'light'">
      ☀️
    </button>
    <button (click)="toggleTheme()" [class.active]="theme === 'dark'">
      🌚
    </button>
  </div>
</header>
