<header class="header">
  <div class="header__userContainer">
    <h2>Contact book by IvanDev</h2>
    <p *ngIf="user">
      Welcome <span style="color: green">{{ user.name }}</span>
    </p>
  </div>
  <ng-container *ngIf="user">
    <app-settings></app-settings>
  </ng-container>

  <div class="header__theme_container">
    <button
      (click)="setLightTheme('light')"
      [class.active]="getCurrentTheme() === 'light'"
    >
      ☀️
    </button>
    <button
      (click)="setDarkTheme('dark')"
      [class.active]="getCurrentTheme() === 'dark'"
    >
      🌚
    </button>
  </div>
</header>
