.registration__container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 100px;
}
.registration__form {
  margin-bottom: 1.5rem;
}
.registration__container h2 {
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.registration__container label {
  display: block;
  margin-bottom: 5px;
}

.registration__container input[type="text"],
.registration__container input[type="email"],
.registration__container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration__container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}
/*  */
.login_link {
  font-size: 1.5rem;
  color: #010101;
  display: block;
}
