<div class="registration__container">
  <h2>Login</h2>
  <form
    class="registration__form"
    #userForm="ngForm"
    (ngSubmit)="performLogin(userForm.value)"
  >
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      required
      class="form-control"
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
      class="form-control"
    />

    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
  <span>
    <a class="login_link" routerLink="/registration">Create account </a>
  </span>
</div>
