<ul class="contact__list">
  <ng-container *ngIf="contactList.length > 0; else noContacts">
    <li
      class="contact__list_item"
      *ngFor="let contact of contactList"
      (click)="onContactClick(contact)"
      routerLinkActive="active"
      [routerLink]="['/dashboard/contacts', contact.id]"
    >
      <a>
        <p>{{ contact.firstName }}</p>
      </a>
    </li>
  </ng-container>
  <ng-template #noContacts>
    <li class="contact__list_item_notFound">
      <p>No contacts found !</p>
    </li>
  </ng-template>
</ul>
