.contact-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.title__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pencil__emoji {
  font-size: 24px;
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
}

/* BLOCK BTN */
.block__button {
  width: 150px;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;

  background-color: red;
  color: #fff;

  transition: background-color 0.25s linear;
}

.block__button:hover {
  background-color: rgb(175, 26, 26);
}

.blocked__button {
  background-color: green;
}
.blocked__button:hover {
  background-color: rgb(25, 182, 25);
}
/*  */
.pencil__emoji:hover {
  background-color: aquamarine;
}

.contact-details h2 {
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 5px;
}

.contact-details strong {
  font-weight: bold;
}
