<div *ngIf="contact" class="contact-details">
  <div class="title__container">
    <h2>{{ contact.firstName }} {{ contact.lastName }}</h2>
    <span class="pencil__emoji" (click)="toggleEditMode()">&#9998;</span>
  </div>
  <div *ngIf="editMode">
    <app-contact-form
      [contact]="contact"
      (save)="saveChanges($event)"
      (toggleEditMode)="toggleEditMode()"
    ></app-contact-form>
  </div>
  <div *ngIf="!editMode && !showDeleteForm">
    <p *ngIf="settingsService.contactOptions.showEmail"><strong>Email:</strong> {{ contact.email }}</p>
    <p *ngIf="settingsService.contactOptions.showPhoneNumber"><strong>Phone Number:</strong> {{ contact.phoneNumber }}</p>
    <p *ngIf="settingsService.contactOptions.showDescription"><strong>Description:</strong> {{ contact.description }}</p>
    <p *ngIf="settingsService.contactOptions.showCompany"><strong>Company:</strong> {{ contact.company }}</p>
    <div class="btn__container">
      <button
        (click)="contact.isBlocked ? unblockContact() : blockContact()"
        [ngClass]="{ block__button: true, blocked__button: contact.isBlocked }"
      >
        {{ contact.isBlocked ? "Unblock 🔓" : "Block 🔒" }}
      </button>
      <button class="block__button" (click)="showDeleteContactForm()">
        Delete
      </button>
    </div>
  </div>
  <div *ngIf="!editMode && showDeleteForm">
    <div class="delete-container">
      <p>Do you want to delete this contact?</p>
      <div>
        <button type="button" (click)="deleteContact()">Yes</button>
        <button type="button" (click)="cancelDeleteContact()">No</button>
      </div>
    </div>
  </div>
</div>
