.contact-details {
  margin-top: 20px;
  padding: 2rem;
  border-radius: 1rem;

  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.title__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/*  */
.dark-theme {
  background-color: transparent;
  border: 1px solid #ccc;
}
/*  */
.pencil__emoji {
  font-size: 24px;
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
  border: 1px solid rgb(185, 185, 34);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
}

/* BLOCK BTN */
.block__button {
  width: 150px;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
  color: #fff;

  transition: background-color 0.25s linear;
}

.block__button:hover {
  background-color: rgb(175, 26, 26);
}

.blocked__button {
  background-color: green;
}
.blocked__button:hover {
  background-color: rgb(25, 182, 25);
}
/*  */
.btn__container {
  display: flex;
  gap: 20px;
}
/* delete btn */
.delete__button {
  width: 80px;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;

  background-color: rgb(255, 60, 0);
  color: #fff;

  transition: background-color 0.25s linear;
}
.delete__button:hover {
  background-color: rgb(209, 25, 25);
}
/*  */

/* delete container */
.delete-container {
  border-radius: 5px;
  padding: 10px;
  min-width: 300px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #e74c3c;
  background-color: #f9e7e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-container p {
  margin-bottom: 10px;
  color: #c0392b;
}
.delete-container button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
}

.delete-container button:hover {
  background-color: #c0392b;
}
/*  */

.pencil__emoji:hover {
  background-color: aquamarine;
}

.contact-details h2 {
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 5px;
}

.contact-details strong {
  font-weight: bold;
}
