<div>
  <form
    action=""
    #userForm="ngForm"
    *ngIf="user"
    (ngSubmit)="changeUserData(userForm.value)"
  >
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="user.name"
      name="name"
      required
      class="form-control"
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      required
      class="form-control"
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
      class="form-control"
    />
    <button type="submit">Change</button>
  </form>
</div>
