.addContact__btn {
  border: 2px solid green;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
}

.addContact__btn:hover {
  color: yellow;
  background-color: rgb(39, 179, 39);
}
