.user__container {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__logout {
  position: absolute;
  width: 200px;
  bottom: 10%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

.currentContact__container {
  flex-grow: 1;
  padding: 20px;
}
